@import "../../styles.scss";
@import "../scss_utilities/card.scss";

.header {
  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba($color-white, 0.7), rgba($color-white, 0.7) ), url(../../assets//hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%);
  }

  &__logo {
    height: 100px;
  }

  &__text-box {
    margin-top: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.section-tours{
  background-color: $color-grey-light-1;
  height: 40vh;
 }



.heading-primary {
  color: $color-dark;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.2rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  margin: 3rem 0 ;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-grey-light-1, $color-white );
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all .2s;


  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-dark, .2);
  }
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);


  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);


  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);


  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn {

  &:link,
&:visited {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 1.5rem;
  transition: all .2s;
  position: relative;

}

&:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba($color-dark, .2);

  &::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

&:active {
  transform: translateX(-0.1rem);
  box-shadow: 0 5px 10px rgba($color-dark, .2);


}
&--white {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-dark;

  &::after {
    border: 2px solid $color-primary;
  }
}


&::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}





&--animated {
  animation: moveInBottom .5s ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}



}

