@import "../../styles.scss";

.rotate_card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 2rem;

  &__side {
    height: 20rem;
    transition: all .8s ease;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);

    &--front {
      background-color: $color-white;

    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {

    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 100%;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-white, 0.1), rgba($color-white, 0.3) ), url(../../assets//hero.jpg);
    }
  }

  &__heading {
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.6), rgba($color-primary, 0.9) );
    padding: 1rem 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: $color-dark;
    position: absolute;
    bottom: 0%;
    right: 0%;
  }

}
